@import "tailwindcss";

:root {
    --primary-color: #00a63e;
    --primary-hover: #008c35;

    --text-primary: #111827;
    --text-secondary: #6b7280;

    --background: #ffffff;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--background);
    color: var(--text-primary);
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

/* Language Transition Animations */

@keyframes swipeOutLeft {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes swipeInRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes swipeOutRight {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes swipeInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

/* utility classes */
.swipe-out-left {
    animation: swipeOutLeft 300ms ease-in-out forwards;
}

.swipe-in-right {
    animation: swipeInRight 300ms ease-in-out forwards;
}

.swipe-out-right {
    animation: swipeOutRight 300ms ease-in-out forwards;
}

.swipe-in-left {
    animation: swipeInLeft 300ms ease-in-out forwards;
}
